<px-nav></px-nav>
<div class="body">

  <section class="p-5 container">


    <p class="main-heading">About Us</p>

    <div class="row p-4">
      <p>We are a team of engineers making coding as easy and fun as gaming- to make coding an accessible and engaging experience.
      </p>
      <p>
        Crafted by the same people behind the Brackets Code Editor and iconic design apps like Dreamweaver and Illustrator, Phoenix emerges
        from a legacy of over a decade in code editor development and a passion for UX design tools.
      </p>
      <p>
        Our goal is to place the human aspect of coding at the heart of the user experience, transforming the routine task of coding in a text editor
        into something more engaging and enjoyable.
      </p>
    </div>

    <div class="row p-4">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <img src="assets/images/transparency_icon.svg" alt="">
          </div>
          <div class="col-md-10 text-left mb-4">
            <p class="sub-heading">
              Game UX
            </p>
            <p>
              Approach code editing like a game that a school kid would play after skipping the tutorial..
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <img src="assets/images/open_code_icon.svg" alt="">
          </div>
          <div class="col-md-10 text-left mb-4">
            <p class="sub-heading">
              Light-Weight Editor
            </p>
            <p>
              Phoenix Code is designed to run anywhere, from mobile browsers to high-end workstations, maintaining a lightweight footprint.
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <img src="assets/images/innovation_icon.svg" alt="">
          </div>
          <div class="col-md-10 text-left pr-5">
            <p class="sub-heading">
              Innovation first
            </p>
            <p>
              We create long-term value for customers by innovation instead of maximizing our profit.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <img src="assets/images/distribute_icon.svg" alt="">
          </div>
          <div class="col-md-10 text-left pr-5">
            <p class="sub-heading">
              Distributed control
            </p>
            <p>
              We believe the Internet has to be distributed and independent of anyone's control.

            </p>
          </div>
        </div>
      </div> -->

    </div>
  </section>

  <section>
    <div class="d-flex-center row team">
      <div class="col-md-12 d-flex-center flex-column">
        <img src="assets/images/team.png" alt="">
        <span class="main-heading my-2">Our Team</span>
        <p>We are a small team of engineers with a collective passion for building tools to help developers solve their
          biggest challenges</p>
      </div>
    </div>
  </section>

  <!-- <section class="container">
    <div class="row">
      <px-card class="col-md-12 mt-4">
        <div class="d-flex p-5 align-top">
          <img src="assets/images/dodo.svg" alt="">
          <div class="col-md-10">
            <p class="name charly">Charly P Abraham</p>
            <p class="desc">Charly builds the vision of core.ai and makes it doable. He works closely with all teams to create long-term value for customers.
 <br><br>
              He
              believes distributed systems, AI, blockchain, and open source will make the world a better place to live in the next 10-20 years. He is a
              programmer, traveler, and foodie.</p>
          </div>
        </div>
      </px-card>

      <px-card class="col-md-12 mt-4">
        <div class="d-flex p-5 align-top">
          <img src="assets/images/dodo_blue.svg" alt="">
          <div class="col-md-10">
            <p class="name arun">Arun Bose</p>
            <p class="desc">Arun leads our software development team to build the technology powering core.ai. He also works with the core.ai open research
              community to advance core.ai 's commitment to open and free software development.

              Arun's research interests span massively
              decentralized systems and peer-to-peer networks, private and secure infrastructures, user experience, and research openness. He likes dogs,
              music, and movies.</p>
          </div>
        </div>
      </px-card>

      <px-card class="col-md-4 mt-4">
        <div class="d-flex p-5 align-top">
          <img src="assets/images/dodo_gray.svg" alt="">
          <div class="col-md-10">
            <p class="name">Member</p>
            <p class="desc">description.</p>
          </div>
        </div>
      </px-card>

      <px-card class="col-md-4 mt-4">
        <div class="d-flex p-5 align-top">
          <img src="assets/images/dodo_gray.svg" alt="">
          <div class="col-md-10">
            <p class="name">Member</p>
            <p class="desc">description.</p>
          </div>
        </div>
      </px-card>

      <px-card class="col-md-4 mt-4">
        <div class="d-flex p-5 align-top">
          <img src="assets/images/dodo_gray.svg" alt="">
          <div class="col-md-10">
            <p class="name">Member</p>
            <p class="desc">description.</p>
          </div>
        </div>
      </px-card>

    </div>
    <br><br>
  </section> -->
</div>
<px-footer></px-footer>
