.workspaces {
  color: var(--text-color);
  background: url('../../../../../../assets/images/dot-bg.png');
  background-size: cover;

  p {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-lg);
  }

  .white {
    background-color: white;
  }

  .text-intro {
    font-family: var(--font-caveat);
  }
  .main-heading {
    font-family: var(--font-montserrat-extra-bold);
    font-style: italic;
  }

  .table-img {
    margin-top: -5px;
  }

  .collab {
    font-size: var(--font-size-xl);
  }
  .points {
    li {
      margin: 20px 0;
    }
  }
}
