<section class="workspaces container-fluid">
  <div class="introducing row">
    <div class="d-flex-center w-100 ">
      <h1 class="p-4 white text-intro">Introducing</h1>
    </div>
    <div class="col-md-12 text-center">
      <div class="d-flex-center w-100 ">
        <h1 class="white p-4 main-heading">DEVELOPMENT WORKSPACES</h1>
      </div>
    </div>

    <div class="col-md-12 text-center mb-4 table-img">
      <img class="white p-4" src="assets/images/developers-table.png" alt="">
      <div class="py-4 col-md-8 offset-md-2 white">
        <p>Phoenix’s development workspaces are not just your project’s root folder like you have
          experienced in other IDE’s. Phoenix workspaces are real local & cloud spaces.</p>
      </div>
    </div>

    <div class="col-md-12 text-center my-4 host-img row">
      <div class="py-4 px-0 col-md-4 offset-md-1">
        <p class="white p-4 mt-4">Setup Development workspaces
          locally & in the cloud.
          <br>
          With just the click of a button</p>
        </div>
        <img class="white p-4" src="assets/images/host.png" alt="host">
        <div class="col-md-4 px-0">
          <p class="white p-4">Host & share apps easily</p>
          </div>
    </div>

    <div class="col-md-12 text-center my-4 ">
      <div class="row">
        <div class="col-md-6">
          <img class="white collab-coding" src="assets/images/collab-coding.png" alt="">
        </div>
        <div class="col-md-6 white">
          <p class="main-heading collab">COLLABORATIVE DEVELOPMENT</p>
          <p>do it the right way with phoenix</p>
          <br>
          <ol class="text-left points">
              <li>
                Create custom development workspace and share it with the team.
              </li>
              <li>
                Seamless workspace roaming between all your connected devices.
              </li>
              <li>
                Continous cloud backup and recovery of workspaces.
              </li>
              <li>
                Experience peer programming at its best.
              </li>
            </ol>
        </div>
      </div>

      <div class="row">

        <div class="col-md-5 offset-md-1 white d-flex-center flex-column">
          <p class="main-heading collab">AUTH</p>
          <p class="text-left">Multiple Authentication mechanisms
            Supports google, facebook, git and bitbucket logins</p>
<br><br>
          <p class="main-heading collab">ENTERPRISE</p>
          <p class="text-left">SAML Enterprise logins
            Optional self hosting
            Advanced Auditing
            Enforce source code copy policies in developer machines</p>
        </div>
        <div class="col-md-6 text-left">
          <img class="white collab-coding" src="assets/images/login.png" alt="">
        </div>
      </div>
    </div>

  </div>
</section>
