.features {
  background: url('../../../../../../assets/images/featureBG.png');
  background-repeat: repeat;
  background-size: 100% 100%;
  color: var(--text-color-light);

  .heading {
    color: var(--text-color-light);
    font-size: var(--font-size-lg);
    font-family: var(--font-montserrat-bold);
  }

  .preview {
    .heading {
      color: var(--accent-color);
      font-size: var(--font-size-xl);
      font-family: var(--font-montserrat-bold);
      font-style: italic;
    }

    .sq-img, .flash-img {
      max-width: 120px;
    }
  }
}

.technologies-icon {
  width: 200px;
}
