<section class="features container-fluid">

  <div class="heading-container container text-center py-5">
    <div class="row py-5">
      <span class="heading col-md-12">
        Packed with features...
      </span>

    </div>
  </div>

<px-video-overlay *ngFor="let config of videoOverlayConfig"
  [title]="config.title"
  [titleIconSrc]="config.titleIconSrc"
  [subtitle]="config.subtitle"
  [videoSrc]="config.videoSrc"
></px-video-overlay>

  <!-- <div class="row preview">
    <div class="col-md-6">
      <div class="row text-left text-sm-center text-xs-center">

        <div class="offset-md-1 col-md-3 pl-4">
          <img class="flash-img" src="assets/images/flash.gif" alt="flash">
        </div>

        <div class="col-md-6 mt-4">
          <div class="row">
            <span class="heading col-md-12 mb-4">
              LIVE APP PREVIEW
            </span>
            <div class="description col-md-12">
              <p>Experience a new supercharged <br>
                live preview feature. Code and view <br>
                changes on the fly. </p>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="col-md-6">
      <div class="row text-left text-sm-center text-xs-center">

        <div class="offset-md-1 col-md-3 pl-4">
          <img class="sq-img" src="assets/images/load.gif" alt="flash">
        </div>

        <div class="col-md-6 mt-4">
          <div class="row">
            <span class="heading col-md-12 mb-4">
              LIVE MARKUP PREVIEW
            </span>
            <div class="description col-md-12">
              <p>View your markup and documentation <br>
                changes on the fly using phoenix’s <br>
                markup preview pane </p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div> -->

  <div class="row my-5 py-5">
    <span class="col-md-3 d-flex-center">
      phoenix is tailor made for
    </span>
    <div class="col-md-6 d-flex-space-around">
      <img src="assets/images/js.png" alt="icons">
      <img src="assets/images/ts.png" alt="icons">
      <img src="assets/images/html.png" alt="icons">
      <img src="assets/images/css.png" alt="icons">
    </div>
    <span class="col-md-3 d-flex-center">
      and many more...
    </span>
  </div>

  <!-- <div class="container-fluid">

    <div class="row md-12 my-5 py-5">

      <div class="offset-md-1 col-md-5 row text-center">
        <div class="col-md-12">with a fully feature git client inbuilt</div>
        <div class="col-md-12">
          <img src="assets/images/diff.png" alt="img">
        </div>
      </div>
      <div class="col-md-1 d-flex-center">
        <img src="assets/images/&.png" alt="">
      </div>
      <div class="col-md-5 d-flex-center row text-center">
        <div class="col-md-12">
          With intelligent code navigation, completion
          and refactor support
        </div>
        <div class="col-md-12">
          <img src="assets/images/code.png" alt="img">
        </div>
      </div>
    </div>
  </div> -->

  <div class="container-fluid pb-5 preview">
    <div class="row pb-5">
      <div class="offset-md-1 col-md-3 d-flex-center">
        <img src="assets/images/extension.png" alt="">
      </div>
      <div class="col-md d-flex-center">
        <div class="container text-left text-sm-center text-xs-center px-3">
          <p class="heading container text-left w-75">Extension and Themes</p>
          <p class="container text-left w-75">
            Customize the editor's functionality and look & feel with thousands of available extensions and themes.
          </p>
          <p class="container text-left w-75">
            Want to automate a task? Create extensions easily that work on any platform, exactly as you need.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="illustration">
  <div class="container pt-5 d-flex-center">
    <div class="row py-5">
      <img src="assets/images/Illustration.png" alt="people">
    </div>

  </div>
</section>
