<section class="footer p-4 container-fluid">

  <div class="mt-5 px-2 footer-items justify-content-between w-100 row text-center align-middle align-center">

    <div class="col-md-8 text-center align-middle align-center">
      <div class="text-sm-center text-xs-center text-lg-left text-md-left footer-links">
        <a class="mr-3 mb-3" href="#" [routerLink]="'/about'">About</a>
        <a class="mr-3 mb-3" target="_blank" href="https://core.ai/privacy.html">Privacy Policy</a>
        <a class="mr-3 mb-3" target="_blank" href="https://core.ai/terms-of-service.html">Terms of service</a>
        <a class="mr-3 mb-3" target="_blank" href="https://www.gnu.org/licenses/agpl-3.0.en.html">License</a>
      </div>
    </div>

    <div class="col-md-4 copyright text-center  align-middle align-center">
      <span>Made with <span class="m-0 p-0" style="color: red;">❤︎</span>
        and Javascript in Phoenix</span>
    </div>

  </div>
  <div class="container-fluid row  align-middle align-center mt-4">
      <span class="copyright">© {{fullYear}} copyright core.ai </span>
  </div>

<br>

</section>
