<section class="footer p-4 container-fluid">

<div class="mt-5 px-2 footer-items row w-100 text-center text-md-left">
  <div class="col-12 col-md-8 footer-links">
    <a class="d-block d-md-inline-block mr-md-3 mb-3" href="#" [routerLink]="'/about'">About</a>
    <a class="d-block d-md-inline-block mr-md-3 mb-3" target="_blank" href="https://core.ai/privacy.html">Privacy Policy</a>
    <a class="d-block d-md-inline-block mr-md-3 mb-3" target="_blank" href="https://core.ai/terms-of-service.html">Terms of service</a>
    <a class="d-block d-md-inline-block mr-md-3 mb-3" target="_blank" href="https://www.gnu.org/licenses/agpl-3.0.en.html">License</a>
  </div>

  <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end align-items-center mt-3 mt-md-0">
    <span>Made with <span class="m-0 p-0" style="color: red;">❤︎</span> and Javascript in Phoenix</span>
  </div>
</div>

  <div class="container-fluid align-middle text-center mt-4">
      <span class="copyright">© {{fullYear}} copyright core.ai </span>
  </div>

<br>

</section>
