<section class="footer p-4 container-fluid">

  <div class="mt-5 px-2 footer-items justify-content-between w-100">
    <div class="container-fluid row">
      <div class="row w-100">
        <div class="text-left text-sm-center text-xs-center col-sm-12 col-xs-12 col-md-2 col-lg-2 col-xl-2 mt-xs-4 mt-sm-4">
          <a class="p-0 m-0" href="#" [routerLink]="'/about'">About</a>
        </div>
        <div class="text-left text-sm-center text-xs-center col-sm-12 col-xs-12 col-md-2 col-lg-2 col-xl-2 mt-xs-4 mt-sm-4">
          <a target="_blank" href="https://core.ai/privacy.html">Privacy Policy</a>
        </div>
        <div class="text-left text-sm-center text-xs-center col-sm-12 col-xs-12 col-md-2 col-lg-2 col-xl-2 mt-xs-4 mt-sm-4">
          <a target="_blank" href="https://core.ai/terms-of-service.html">Terms of service</a>
        </div>
        <div class="text-left text-sm-center text-xs-center col-sm-12 col-xs-12 col-md-2 col-lg-2 col-xl-2 mt-xs-4 mt-sm-4">
          <a target="_blank" href="https://www.gnu.org/licenses/agpl-3.0.en.html">License</a>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-2 col-lg-1 col-xl-1 offset-md-1 offset-lg-1 offset-xl-2 mt-xs-4 mt-sm-4 text-sm-center text-xs-center copyright mt-sm-4 mt-xs-4">
          <span>Made with <span class="m-0 p-0" style="color: red;">❤︎</span>
            and Javascript</span>
        </div>
      </div>
      <div class="col-md-12 mt-4 w-100 text-center">
        <span class="copyright">© 2022 copyright core.ai </span>
      </div>

    </div>
  </div>

<br>

</section>
