<section class="main" #parent>

  <img class="vtl z1"  src="assets/images/vector-top-left.png" alt="topl">
  <img class="vbr z1" src="assets/images/vector-bottom-right.png" alt="bottoml">
  <img class="stars-left z2" pxMouseMove [parent]="parent" src="assets/images/stars-left.svg" alt="bottoml">
  <img class="stars-right z2" pxMouseMove [parent]="parent" src="assets/images/stars-right.svg" alt="bottoml">

  <div class="container content-container d-flex flex-column justify-center align-center z8">
    <img pxMouseMove [parent]="parent" class="brand-logo" xMovement="3" yMovement="3" src="assets/images/phoenix-logo.svg" alt="logo">
    <div class="brand-text text-center z2 d-flex flex-column justify-center align-center">
      <h1>Phoenix</h1>
      <span>Code Creatively: Visual Editing Tailored for Developers</span>
      <br><br>

      <px-download [downloadUrls]="downloadUrls" [donwloadUrlArr]="donwloadUrlArr"> </px-download>
    </div>
  </div>

  <img pxMouseMove [parent]="parent" xMovement="0" yMovement="10" class="cloud cloud-1 z3" src="assets/images/cloud1.svg" alt="cloud1">
  <img pxMouseMove [parent]="parent" xMovement="0" yMovement="15" class="cloud cloud-2 z6" src="assets/images/cloud2.svg" alt="cloud2">
  <img pxMouseMove [parent]="parent" xMovement="0" yMovement="25" class="cloud cloud-3 z5" src="assets/images/cloud3.svg" alt="cloud3">
  <img pxMouseMove [parent]="parent" xMovement="0" yMovement="5" class="cloud cloud-4 z6" src="assets/images/cloud4.svg" alt="cloud4">

  <div class="sky">
    <div class="star" id="star-1"></div>
    <div class="star" id="star-2"></div>
    <div class="star" id="star-3"></div>
    <div class="star" id="star-4"></div>
  </div>

</section>

