
.download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 70px;
  width: 100%;
  min-width: 350px;
  position: relative;

  .btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
  }

  .ddntoggle {
    width: 50px;
  }

  .dropdown-link {
    font-size: var(--font-size-xs);
  }

  .dropdown-menu {
    min-width: 300px;
  }
}

#codeSnippet {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  user-select: text;
  background-color: rgb(244, 226, 218)!important;
}
#copy {
  background-color: rgb(244, 226, 218)!important;
  width: 50px;
}

.linux-more {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-xs);
  margin-top: 20px;
  .text {
    color: var(--text-color-light);
  }

}
