
@mixin head($font-size: var(--font-size-xxl)) {
  font-family: var(--font-montserrat-bold);
  color: var(--primary-color);
  font-size: $font-size;
}



section {
width: 90%;
video {
  max-height: 50svh;
  width: 100%;
  position: relative;
  border-radius: 20px; /* Adjust the value as needed */
  overflow: hidden; /* Ensures content stays within rounded corners */
  border: 5px solid #333; /* Optional border */
  box-shadow: 0 4px 8px rgba(62, 62, 62, 0.3); /* Optional shadow */
}

  .heading-container {
    .heading {
      @include head;
    }
    .description {
      font-family: var(--font-montserrat);
      line-height: 1.5;
      width: 40%;
    }
  }

  .content-1 {
    .meet-img {
      max-width: 600px;
      padding: 20px;
    }

    .heading {
      @include head(var(--font-size-xl));
    }
    p {
      line-height: 1.5;
    }
  }

}

@media only screen and (max-width: 575px) {
  .center-below-xs {
    text-align: center;
  }
}
