<section class="container w-100 d-flex-center mt-5 " id="video-overlay">
  <div class="row content-1 center-below-xs pt-4">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="row">
          <div class="col-md-12 mt-4 center-below-xs">
            <div class="row text-lg-left text-xl-left text-md-left text-sm-center text-xs-center mb-sm-5 mb-xs-5">
                <div class="row">
                  <span class="heading col-md-12 mb-4 text-accent">
                    <img style="width: 50px" class="flash-img" *ngIf="titleIconSrc" [src]="titleIconSrc" alt="flash">
                    {{title}}
                  </span>
                  <div class="description col-md-10">
                    <p>
                      {{subtitle}}
                    </p>
                  </div>

                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12 mt-sm-4 mt-xs-4 text-sm-center text-xs-center text-lg-right text-xl-right text-md-right">
      <video *ngIf="videoSrc" [src]="videoSrc" muted autoplay loop></video>
    </div>


  </div>

</section>
