
$primary-color: #4d4dff;
$secondary-color: #666666;
$danger-color: rgb(95, 33, 32);
$warning-color: #ffba00;
$success-color: #2ec946;

.close {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: none;
}


.alert {
  max-width: 25vw;
  padding: 20px;
  margin: 8px;
  position: fixed;
  top: 100px;
  right: 30px;
  z-index: 100;
}

@mixin alert-1($color) {
  background-color: rgba($color, 0.3);

  .alert-title {
    color: $color;
  }
}

@mixin alert-2($color) {
  border-left: 4px solid $color;
  background-color: rgba($color, 0.5);

  .alert-title {
    color: lighten($color, 30%);
  }
}

@mixin alert-3($color) {
  border: 1px solid darken($color, 15%);
  border-radius: 8px;
  background-color: rgba($color, 0.85);

  .alert-title {
    color: lighten($color, 55%);
  }
}

.alert-1-primary {
  @include alert-1($primary-color);
}

.alert-1-warning {
  @include alert-1($warning-color);
}
.alert-2-warning {
  @include alert-2($warning-color);
}
.alert-3-warning {
  @include alert-3($warning-color);
}

.alert-2-success {
  @include alert-2($success-color);
}

.alert-2-secondary {
  @include alert-2($secondary-color);
}

.alert-1-info {
  @include alert-1($primary-color);
}
.alert-2-info {
  @include alert-2($primary-color);
}
.alert-3-info {
  @include alert-3($primary-color);
}

.alert-1-critical {
  @include alert-1($danger-color);
}
.alert-2-critical {
  @include alert-2($danger-color);
}
.alert-3-critical {
  @include alert-3($danger-color);
}

.alert-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.alert-content {
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #fcfcfc;
}
