<section class="container-fluid w-100">

  <div class="heading-container container text-center pt-5">
    <div class="row">
      <span class="heading col-md-12">
        Meet Phoenix
      </span>
      <span class="description offset-md-4 col-md-4 mt-2">
        Brand new modern and open source
        code editor for web development in cloud,
        packed with powerful features and extensions
      </span>

    </div>
  </div>

  <div class="row content-1">
    <div class="col-md-6 px-5">
      <img class="meet-img" src="assets/images/meetPhoenixGraphics.png" alt="">
    </div>
    <div class="col-md-6">
      <div class="row">
        <!-- first row items  -->
        <div class="col-md-12">
          <div class="row text-left mt-5">
            <div class="col-md-6 mt-4">
              <div class="row">
                <span class="heading col-md-12 mb-4">
                  Edit Code Locally
                </span>
                <div class="description col-md-12">
                  <p>Without installing any IDE </p>
                  <p>No signup required</p>
                  <p>Code without conidtions</p>
                </div>
                </div>
              </div>
              <div class="col-md-4">
                <img src="assets/images/meetPhoenixG1.png" alt="">
              </div>

            </div>
          </div>

          <!-- second row items -->
          <div class="col-md-12 mt-5">
            <div class="row text-left mt-4">
              <div class="col-md-6 mt-4">
                <div class="row">
                  <span class="heading col-md-12 mb-4">
                    Multidevice Support
                  </span>
                  <div class="description col-md-12">
                    <p>Code from anywhere </p>
                    <p>anywhere</p>
                    <p>any browser</p>
                  </div>

                </div>
              </div>
              <div class="col-md-4">
                <img src="assets/images/meetPhoenixG2.png" alt="">

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</section>
