
@mixin head($font-size: var(--font-size-xxl)) {
  font-family: var(--font-montserrat-bold);
  color: var(--primary-color);
  font-size: $font-size;

}


section {

  .heading-container {
    .heading {
      @include head;
    }
    .description {
      font-family: var(--font-montserrat);
      line-height: 1.5;
      width: 40%;
    }
  }

  .content-1 {
    // .meet-img {
    //   margin-top: -100px;
    // }
    .heading {
      @include head(var(--font-size-xl));
    }
    p {
      line-height: 1.5;
    }
  }
}
