<section class="container-fluid w-100" id="meet-phoenix">

  <div class="heading-container text-center pt-5 w-100">
      <span class="heading col-md-12 col-sm-12 col-xs-12">
        Meet Phoenix Code
      </span>
      <span class="description col-md-12 col-sm-12 col-xs-12 mt-2 d-flex-center w-100">
          <div class="text-center w-50 w-xs-100">
         A text editor specially crafted for web developers, designers, and students. Phoenix Code's advanced visual tools and live previews
eliminate guesswork, making web development quicker and and more enjoyable.
        </div>
        </span>

  </div>

  <div class="row content-1 center-below-xs">
    <div class="col-md-6 col-sm-12 col-xs-12 mt-sm-4 mt-xs-4 text-sm-center text-xs-center text-lg-right text-xl-right text-md-right">
      <img class="meet-img" src="assets/images/meetPhoenixGraphics.png" alt="" style="width: 100%;">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <!-- first row items  -->
        <!-- <div class="col-md-12">
          <div class="row text-lg-left text-xl-left text-md-left text-sm-center text-xs-center mt-5">
            <div class="col-md-6 mt-4">
              <div class="row">
                <span class="heading col-md-12 mb-4">
                  Craft Code Visually
                </span>
                <div class="description col-md-12">

                  <p>Live previews eliminate guesswork,  </p>
                  <p>making web development quicker and less stressful.</p>
                </div>
                </div>
              </div>
              <div class="col-md-4 text-center">
                <img src="assets/images/meetPhoenixG1.png" alt="">
              </div>

            </div>
          </div> -->

          <!-- second row items -->
          <div class="col-md-12 mt-5 center-below-xs">
            <div class="row text-lg-left text-xl-left text-md-left text-sm-center text-xs-center mt-4 mb-sm-5 mb-xs-5">
              <div class="col-md-6 mt-4">
                <div class="row">
                  <span class="heading col-md-12 mb-4">
                    Runs Everywhere
                  </span>
                  <div class="description col-md-12">
                    <p>Phoenix Code is natively available for macOS, Windows, Linux and ChromeOS </p>
                    <p>Or use the web app on any device with a browser.</p>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4  text-center">
              <img height="200px"  src="assets/images/supportedSystemsbrowers.png" alt="" style="opacity: 70%;">

          </div>

        </div>
      </div>
    </div>

  </div>

</section>
