<section class="container-fluid w-100">

  <div class="heading-container container text-center pt-5">
    <div class="row">
      <span class="heading col-md-12">
        Meet Phoenix Code
      </span>
      <span class="description offset-md-4 col-md-4 mt-2">
        A text editor designed to make coding as intuitive and fun as playing a video game - specially crafted for web
developers, designers, and students.
      </span>

    </div>
  </div>

  <div class="row content-1">
    <div class="col-md-6 px-5">
      <img class="meet-img" src="assets/images/meetPhoenixGraphics.png" alt="">
    </div>
    <div class="col-md-6">
      <div class="row">
        <!-- first row items  -->
        <div class="col-md-12">
          <div class="row text-left mt-5">
            <div class="col-md-6 mt-4">
              <div class="row">
                <span class="heading col-md-12 mb-4">
                  Craft Code Visually
                </span>
                <div class="description col-md-12">

                  <p>Live previews eliminate guesswork,  </p>
                  <p>making web development quicker and less stressful.</p>
                </div>
                </div>
              </div>
              <div class="col-md-4">
                <img src="assets/images/meetPhoenixG1.png" alt="">
              </div>

            </div>
          </div>

          <!-- second row items -->
          <div class="col-md-12 mt-5">
            <div class="row text-left mt-4">
              <div class="col-md-6 mt-4">
                <div class="row">
                  <span class="heading col-md-12 mb-4">
                    Runs Everywhere
                  </span>
                  <div class="description col-md-12">
                    <p>Phoenix Code is natively available for macOS, Windows, and Linux. </p>
                    <p>ChromeOS or alternative platforms? Get the web version on any browser-enabled device.</p>
                  </div>

                </div>
              </div>
              <div class="col-md-4">
                <img height="200px" width="200px" src="assets/images/allSystems.png" alt="" style="opacity: 70%;">

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</section>
