<section class="server">

  <br><br>
  <div class="my-4 w-100 text-center">
    <span class="p-4 transparent main-heading">
      SERVER
    </span>
  </div>
  <br>
  <div class="d-flex-center mb-5">
    <div class="terminal">
      <br>
      <p>Terminal access: guarenteed on cloud and onprem with sudo access</p>
      <br><br>
      <p>
        >  On demand virtual machines with sudo access in the cloud for performance
        <br><br>
        >  Fully Featured Terminal Support
        <br><br>
        >  Choose servers based on geo-location
      </p>
    </div>
  </div>
  <br>
  <div class="row text-center px-5">
    <div class="col-md-4 link">VISION</div>
    <div class="col-md-4 link">MISSION</div>
    <div class="col-md-4 link" [routerLink]="'/about'">ABOUT</div>
  </div>
<br><br>
</section>
