.server {
  color: var(--text-color-light);
  background: url('../../../../../../assets/images/white-dot-bg.png'), linear-gradient( #282727, #282727);
  background-size: contain;
  background-repeat: no-repeat;
  p {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-lg);
  }

  .transparent {
    background-color: var(--background-color-dark);
  }
  .main-heading {
    font-family: var(--font-montserrat-extra-bold);
    font-style: italic;
    font-size: var(--font-size-xxl);
  }

  .terminal {
    background: url('../../../../../../assets/images/terminal.png'), linear-gradient( #282727, #282727);
    background-size: cover;
    min-height: 500px;
    min-width: 50vw;
    background-repeat: none;
    padding: 50px;
    overflow: hidden;
    color: var(--text-color-gray);
  }
  .link {
    font-family: var(--font-montserrat-bold);
    font-size: var(--font-size-xxl);
    cursor: pointer;
    &:hover {
      color: var(--accent-color);
    }
  }
}
