:host {
  position: absolute;
  top: 0;
  width: 100%;
}

nav {
  height: var(--nav-height);
  background-color: transparent;
  z-index: 100;

  .navbar-brand {
    img {
      width: 80px;
    }
    span {
      margin-left: -5px;
      font-family: var(--font-montserrat-bold);
      font-size: var(--font-size-xl);
    }
    &:hover {
      color: var(--text-color-light);
    }

  }

  .nav-link {
    margin: 0 20px;

    &.icon {
      margin: 0;
    }
  }

  .navbar-nav-svg {
    fill: var(--text-color-light) ;
    &:hover {
      fill: var(--accent-color);
    }
    height: 20px;
  }
}

.navFixed {
  position: fixed;
  width: 100%;
  background-color:rgba(65, 63, 63, 0.594);
  transition: all .1s ease-in-out;
}

.navbar-collapse.show, .navbar-collapse.collapsing {
  background-color:rgba(65, 63, 63, 0.816);
  text-align: center;
}
