@import '~bootstrap/dist/css/bootstrap.min.css';
@import './app/scss/unit.variable.scss';
@import 'app/scss/fonts.scss';

html,
head,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
}


@media only screen and (max-width: 768px) {
  html,
  head,
  body {
    overflow: auto;
  }
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.btn {
  border-radius: 0;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.primary-button {
  background: linear-gradient(90deg, #FAAA47 0%, #FA1801 100%);
  border-radius: 5px;
  border: none;
  outline: none;
  color: var(--text-color-light);

  &:hover:not(.dropdown-menu) {
    background: linear-gradient(90deg, #f5a33f 0%, #e41802 100%);
  }
}

.transparent-button {
  background-color:rgba(0,0,0,0.4);
  border-radius: 5px;
  border: none;
  outline: none;
  color: var(--link-color);

  &:hover:not(.dropdown-menu) {
    background-color:rgba(0,0,0,0.8);
    color: white;
  }
}

.text-primary {
  color: var(--primary-color)!important;
}
.text-accent {
  color: var(--accent-color)!important;
}

.primary-link {
  color: var(--text-color-light);

  &:hover {
    color: var(--accent-color);
  }
}
.primary-link-accent {
  color: var(--accent-color);

  &:hover {
    filter: brightness(1.5);
  }
}


.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.z8 {
  z-index: 8;
}

a {
  color: var(--accent-color);
  &:hover {
    color: var(--link-color);
  }
}




/* BREAKPOINTS */

/* SM breakpoint */
@media (max-width: 576px) {
    /* CUSTOM WIDTHS */
    .w-xs-100 { width: 100%!important; }
    .w-xs-25 { width: 25%!important; }
    .w-xs-50 { width: 50%!important; }
    .w-xs-75 { width: 75%!important; }
}

/* MD breakpoint*/
@media (min-width: 768px) {
    /* CUSTOM WIDTHS */
    .w-md-100 { width: 100%!important; }
    .w-md-50 { width: 50%!important; }
    .w-md-25 { width: 25%!important; }
    .w-md-75 { width: 75%!important; }
}

/* LG breakpoint */
@media (min-width: 992px) {
    /* CUSTOM WIDTHS */
    .w-lg-100 { width: 100%!important; }
    .w-lg-50 { width: 50%!important; }
    .w-lg-25 { width: 25%!important; }
    .w-lg-75 { width: 75%!important; }
}
